:root {
    --white: #feeeee;
    --gray: 10px;
    --blue: 1px;
    --pink: 0;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center;
/*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }

nav {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

img.arrow {
    width: 2vw;

    
}
.card {
    background-color: transparent;
    border: 1px solid rgba(255,255,255, 0.1);
}

a, a:hover, a:active {
    color: var(--white);
        font-family: 'Cabin Sketch', cursive;

}

#navbarNav > ul > div > div > li > a {
        color : var(--white);
}

section {
color: var(--white);
/*        height: 100vh;*/
    padding-top: 5vh;

}

section.main {
    position: relative;
}

div.illustrations {
    position: absolute;
/*    background-color: rgba(255,5,55, 0.1);*/
    width: 100vw;
    max-height: 100vh;
    z-index: 999;
}

img.birds {
        animation: floating 3s ease-in-out infinite 1s;
        transition: opacity 1.5s 0.5s;
    opacity: 0.3; }
    

img.birds-1 {
        animation: floating 3s ease-in-out infinite 2s;
        transition: opacity 1s 0.5s;
        opacity: 0.4;

}

img.birds,img.birds-1 {
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

div.container {
        display: flex;

}

section.my-work {
    padding: 10vh 10vw;
}

div.imp-text {
    padding-top: 25vh;
    position: absolute;
    text-align: center;
}

div.imp-text2 {
    text-align: center;
}

h1 {
    font-weight: 600;
    font-family: 'Fredericka the Great', cursive;

}

nav, h2, h3 {
        font-family: 'Raleway', sans-serif;
    font-family: 'Cabin Sketch', cursive;


}

h3 {
      font-style: italic;
}



.full-section {
    height: 100vh;
}

.half-section {
    height: 50vh;
}

.auto-section {
    height: auto;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}